- append_page_button tv('edit'), edit_admin_user_path(instance), color: :success, icon: :pencil if params[:action] != 'edit' && tyr_policy(instance).edit?
- append_page_button tv('show'), admin_user_path(instance), icon: :info if params[:action] != 'show' && tyr_policy(instance).show?
- append_page_button tv('delete'), admin_user_path(instance), method: :delete, 'data-confirm': tv('delete-confirm'), color: :danger, icon: :remove if tyr_policy(instance).destroy?
