= render partial: 'btns', object: @instance, as: :instance

.row
  = admin_widget_box tv('widget-show', model: @instance, id: @instance.id) do
    = render partial: 'detail', object: @instance, as: :instance

